:root {
	--border-input-birthday: none;
	--border-input-startday: none;
}

.react-datepicker-wrapper {
	width: 65% !important;
	min-width: 150px !important;
}

.react-datepicker__input-container > input {
	height: 30px !important;
	border-radius: 15px !important;
	padding: 10px !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #6e8614 !important;
	width: 100% !important;
	min-width: 150px !important;
}
::placeholder {
	opacity: 1;
}

input[name="birthday"] {
	border: var(--border-input-birthday) !important;
}

input[name="startDate"] {
	border: var(--border-input-startday) !important;
}

.react-datepicker__header {
	background-color: #6e8614 !important;
}

.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
	color: #ffffff !important;
}

.react-datepicker__day--keyboard-selected {
	background-color: #6e8614 !important;
}

.css-qfeakm-placeholder {
	color: #757575 !important;
	opacity: 1 !important;
}
