.react-datepicker-wrapper {
	width: 65% !important;
	min-width: 150px !important;
}

.react-datepicker__input-container > input {
	height: 30px !important;
	border-radius: 15px !important;
	padding: 10px !important;
	border: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #6e8614 !important;
	width: 100% !important;
	min-width: 150px !important;
}

::placeholder {
	opacity: 0.4;
}

